html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Indie Flower', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    margin: 2px 2px 2px 2px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    pointer-events: none;
    animation-name: cardOpen;
    animation-duration: 0.2s;
}

.deck .card.show {
    font-size: 33px;
    pointer-events: none;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: match;
    animation-duration: 0.35s;
}

.deck .card.mismatch {
    background: rgb(255, 0, 0);
    animation-name: mismatch;
    animation-duration: 0.35s;
}

/* selector to control card clickability */
.disabled {
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 1em 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves {
    font-size: 1.1em;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.fa-star {
    color: rgb(255, 145, 0)
}

/* Style for timer */
.timer {
    display: inline-block;
    margin: 0 1em 0 1em;
    font-size: 1.1em;
}

/* Style for results modal */
.resultOverlay {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.resultOverlay:target {
    visibility: visible;
    opacity: 1;
}

.resultModal {
    background-color: #ffffff;
    position: relative;
    margin: 120px auto;
    padding: 20px;
    width: 75%;
    border-radius: 10px;
    transition: all ease-in-out 2s;
}

.resultMessage {
    font-size: 2em;
    text-align: center;
    margin: 0.3em auto 0.3em auto;
}

.resultClose {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    top: 15px;
    right: 25px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.resultStats {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    overflow: auto;
    text-align: center;
}

.resultInit {
    background-color: #02b3e4;
    color: #ffffff;
    padding: 0.5em 0.5em;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    display: block;
    margin: 1em auto;
    width: 40%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.show {
    visibility: visible;
    opacity: 1;
}

#resultStarPanel li {
    display: inline-block;
    list-style: none;
}